html {
  scroll-behavior: smooth;
  background-color: #f4e1e1;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0 0 50px 0;
  background-color: #f4e1e1;
}

a {
  text-decoration: none;
}

.siteTitle {
  text-align: center;
  padding: 50px 0;
  color: #151d3a;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
  margin: 0;
}

.siteTitle:hover,
.siteTitle:active {
  text-decoration: underline;
}

.loadingMsg {
  text-align: center;
}

.previewGalary {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 0 auto;
  column-gap: 20px;
  row-gap: 20px;
}

.articleCard {
  padding: 0;
  border-radius: 21px;
  border: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 520px;
  cursor: pointer;
}

.articleCard:hover .previewContentWrapper {
  background-color: #151d3a;
}

.articleCard:hover .previewTitle, 
.articleCard:hover .previewCopy {
  color: white;
}

.articlePreviewImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.previewContentWrapper {
  padding: 20px;
  flex-grow: 2;
  border-radius: 0 0 20px 20px;
}

.previewTitle, .fullArticleTitle {
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: -2px;
  color: #151d3a;
}

.previewCopy, .fullArticleText {
  font-size: 18px;
  line-height: 25px;
  color: #444040;
}

.articlePlaceHolder {
  height: 500px;
  width: 60%;
  background-color: white;
}

.currenArticleWrapper {
  background-color: white;
}

.fullArticleWrapper {
  width: 100%;
  position: relative;
}

.fullArticleInnerWrapper {
  width: 60%;
  margin: 0 auto;
}

.commentsWrapper, .commentForm {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.fullArticleImg {
  width: 100%;
  object-fit: cover;
}

.fullArticleTextWrapper {
  padding: 30px 0 50px 0;
}

.articleInfo {
  margin-bottom: 30px;
  color: #444040;
}

.clockIcon {
  margin-right: 5px;
}

.navBtn {
  position: absolute;
  background-color:  #f4e1e1;
  color: #151d3a;
  font-size: 23px;
  top: 50vh;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.navBtn:hover, .navBtn:active {
  background-color:  #151d3a;
  color: white;
}

.prevBtn {
  left: 0;
  padding: 25px 50px 25px 25px;
  border-radius: 0 40px 40px 0;
}

.nextBtn {
  right: 0;
  padding: 25px 25px 25px 50px;
  border-radius: 40px 0 0 40px;
}

.commentTitle {
  border-bottom: 2px solid #151d3a;
}

.commentList {
  padding: 0;
}

.comment {
  list-style-type: none;
}

.userName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.commentText {
  margin-top: 10px;
  color: #444040;
}

.timeStamp, .reactionsWrapper {
  margin-left: 100px;
}

.commentFormTitle {
  font-size: 1.3em;
}

.commentForm__Inputs {
  width: 100%;
}

.textInputs {
  display: inline-flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.commentInput {
  border: 1px solid #151d3a;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
}

.commentInput[name="comment"] {
  flex: 2;
  margin-right: 20px;
}

.submitBtn {
  padding: 9px 20px;
  float: right;
  color: white;
  background-color: #151d3a;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submitBtn:hover, .submitBtn:active {
  background-color: #f4e1e1;
  color: #151d3a;
}

.commentForm {
  padding-bottom: 100px;
}

.reactionContainer {
  min-width: 40px;
  display: inline-block;
}

.reaction-btn {
  cursor: pointer;
  padding: 5px;
}

.warningMsg {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .fullArticleInnerWrapper {
    width: 100%;
  }

  .previewGalary, .commentsWrapper, .commentForm {
    width: 95%;
  }

  .fullArticleTextWrapper {
    width: 95%;
    margin: 0 auto;
  }

  .navBtn {
    top: 20vh;
  }

  .prevBtn {
    padding: 30px 30px 30px 10px;
    border-radius: 0 50px 50px 0;
  }

  .nextBtn {
    padding: 30px 10px 30px 30px;
    border-radius: 50px 0 0 50px;
  }
}

@media only screen and (max-width: 480px) {
  .fullArticleWrapper {
    height: 700px;
  }

  .fullArticleTitle, .previewTitle {
    font-size: 26px;
    margin-top: 0;
  }

  .articleCard {
    min-height: 320px;
  }

  .navBtn {
    display: none;
  }
  .commentInput[name="comment"] {
    width: 95%;
    margin-bottom: 20px;
  }

  .submitBtn {
    position: relative;
    bottom: 36px;
  }

  .textInputs {
    width: 100%;
    display: block;
  }

  .fullArticleText, .previewCopy {
    font-size: 16px;
  }

  .fullArticleImg {
    object-fit: contain;
    height: auto !important;
  }

  .fullArticleWrapper {
    height: auto !important;
  }

  .timeStamp, .reactionsWrapper {
    margin-left: 50px;
  }
}